$roboto: 'Roboto', sans-serif;

.search-header {
  display: flex;
  width: 25%;
  padding: 0.5rem 1rem;
  align-items: center;
  border-radius: 15px;
  background: #f2f4f5;
  transition: box-shadow 0.2s ease;
  border: 1px solid transparent;

  &:focus-within {
    border: 1px solid #a7b4cc63;
    box-shadow: 0 5px 15px #a7b4cc63;
  }

  input {
    border: none;
    background: transparent;
    width: 100%;
    margin-left: 0.4rem;
    font: {
      size: 0.88rem;
      family: $roboto;
    }
  }
}
