$Roboto: 'Roboto', sans-serif;

.result-survey {
  width: 100%;
  position: relative;
  cursor: pointer;
  padding: {
    top: 1rem;
    bottom: 4rem;
    left: 0.5rem;
    right: 0.5rem;
  }
  margin: 1.5rem 0;
  transition: background 0.3s ease-in;

  &:first-child {
    margin-top: 0;
  }

  &:hover {
    background: rgba(86, 97, 182, 0.15);
  }

  .button-handler-form {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;

    .btn-edit {
      background: #5661b6 !important;

      &:hover {
        background: #717ccf !important;
      }
    }

    .btn-delete {
      background: #ea4c89 !important;
    }

    .btn {
      margin-left: 0.3rem;
      padding: 0.2rem 1rem;
      border: none;
      text-transform: capitalize;
      color: #fff;
      background: #6b787f;
      cursor: pointer;
      font: {
        size: 0.88rem;
        weight: 500;
        family: $Roboto;
      }
      border-radius: 0.2rem;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .multichoice-answered-question {
    padding: 0.6rem 0.5rem;
    // background: red;
  }

  .descr {
    color: #444;
    font: {
      size: 0.9rem;
    }
  }

  .title {
    text-transform: capitalize;
    line-height: 1.4rem;
    display: block;
    margin-bottom: 0.5rem;
    color: #222;
    font: {
      weight: 500;
      size: 1rem;
      family: $Roboto;
    }
  }

  .placeholder {
    background: #ebebeb;
    width: 100%;
    margin-top: 0.9rem;
    height: 1.5rem;
  }
}

.separator-survey {
  width: 100%;
  height: 1px;
  background: #d4d4d4;
  margin: 3rem 0;
}
