$Roboto: "Roboto", sans-serif;

.backdrop-survey-list {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: default;
  z-index: 22;
}

.survey-list-dropdown {
  position: absolute;
  background: #fff;
  right: 16rem;
  top: -8.5rem;
  list-style: none;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.12);
  padding-bottom: 0.5rem;
  border-radius: 0.5rem;
  color: #6e6d7a;
  padding-top: 0.5rem;
  z-index: 55;

  li {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    width: 12rem;

    &:hover {
      color: #000;
      background: #f2f8ff;
    }

    span {
      font: {
        family: $Roboto;
        size: 0.88rem;
      }
      margin-left: 0.4rem;
    }

    .icon {
      font: {
        size: 1.2rem;
      }
      display: flex;
      align-items: center;
    }
  }
}
