$Roboto: "Roboto", sans-serif;

.survey-list-dropdown {
  position: absolute;
  background: #fff;
  right: 11rem;
  top: 4rem;
  list-style: none;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.12);
  padding-bottom: 1.5rem;
  border-radius: 0.5rem;
  color: #6e6d7a;
  padding-top: 0.5rem;

  li {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    width: 12rem;

    &:hover {
      color: #000;
      background: #f2f8ff;
    }

    span {
      font: {
        family: $Roboto;
        size: 0.92rem;
      }
      margin-left: 0.4rem;
    }

    .icon {
      font: {
        size: 1.2rem;
      }
      display: flex;
      align-items: center;
    }
  }
}
