// initialize font varible
$merriweather: 'Merriweather', serif;

.user-profile {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  box-shadow: 0 10px 14px rgba(0, 0, 0, 0.15);
  cursor: default;
  color: #ee0979; /* fallback for old browsers */
  color: -webkit-linear-gradient(
    to right,
    #ff6a00,
    #ee0979
  ); /* Chrome 10-25, Safari 5.1-6 */
  color: linear-gradient(
    to right,
    #ff6a00,
    #ee0979
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font: {
    size: 500;
    family: $merriweather;
  }
}
