$MerriWeather: 'MerriWeather', sans-serif;
$Roboto: 'Roboto', sans-serif;

@mixin title {
  width: 95%;
  margin: {
    top: 0.6rem;
    bottom: 0.8rem;
  }
  font: {
    family: $MerriWeather !important;
    size: 1.5rem !important;
  }
  text-transform: capitalize;
}

.edited {
  background: #5661b6 !important;
  color: #fff !important;
}

.description-survey-header {
  padding: {
    top: 1rem;
    left: 1rem;
    right: 1rem;
    bottom: 0.9rem;
  }
  width: 35rem;
  position: relative;
  text-area {
    word-break: break-all;
  }
  transition: background .4s ease-in;

  &:hover {
    background: #e5e5e5;
  }

  &:hover > .top {
    visibility: visible;
  }

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    visibility: hidden;

    .edited-title {
      color: #eee !important;
    }

    .title-survey-master {
      color: #5661b6;
      text-transform: capitalize;
      font: {
        size: 0.95rem;
        weight: 500;
        family: $MerriWeather;
      }
      user-select: none;
    }

    .handling {
      .finish {
        background: #ea4c89;
      }

      .edit {
        background: #6b787f;
      }
      button {
        border: none;
        color: #fff;
        padding: 0.5rem 1.5rem;
        cursor: pointer;
        font: {
          family: $Roboto;
          weight: 500;
        }
      }
    }
  }

  .edited-desc {
    color: #eee !important;
    background: none;
    border: none;
    overflow: auto;
    word-break: break-word;
    resize: none;
    cursor: text !important;
  }

  .desc-survey-master {
    font: {
      family: $Roboto;
      weight: 400;
      size: 1.02rem;
    }
    text-align: justify;
    width: 95%;
    margin: auto;
    display: inline-block;
    color: #333;
    cursor: default;
  }

  .page-title-input {
    background: none;
    border: none;
    color: #fff;
    word-break: break-word;
    @include title;
    resize: none;
  }

  h3 {
    @include title;
    cursor: default;
  }
}
