$Merriweather: "Merriweather", sans-serif;
$Roboto: "Roboto", sans-serif;

.main-center {
  .button-create {
    margin-top: 0.8rem;
    width: 66%;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .create {
    width: 28%;
    margin-top: 5rem;
    float: right;
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;

    .main-title-wrapper {
      width: 100%;
      margin-top: 0.8rem;
      display: flex;
      align-items: center;
      justify-content: center;

      .main-title {
        font: {
          family: $Roboto;
          size: 1.33rem;
        }
        color: #444;
        background: none;
        border: none;
        width: 90%;
        text-align: center;
        resize: none;
      }

      &::placeholder {
        text-transform: capitalize;
      }
    }

    .small-title {
      font: {
        family: $Roboto;
        size: 1.15rem;
        weight: 500;
      }
      text-transform: capitalize;
      color: #555;
    }
  }
}
