$Merriweather: "Merriweather", sans-serif;
$Roboto: "Roboto", sans-serif;

.main-center {
  .button-create {
    margin-top: 0.8rem;
    width: 66%;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .create-survey {
    transform: translateY(7rem);
    display: flex;
    justify-content: flex-end;
    width: 95%;
    align-items: center;

    .btn-create {
      background: #ea4c89;
      color: #fff;
      border: 2px solid #ea4c89;
      transition: 0.4s background, border ease-in-out;

      &:disabled {
        background: rgb(240, 125, 169);
        border: 2px solid rgb(240, 125, 169);
      }
    }

    .btn-cancel {
      border: 2px solid #ea4c89;
      color: #ea4c89;
    }

    .btn {
      text-transform: capitalize;
      cursor: pointer;
      padding: 0.5rem;
      height: 2.5rem;
      width: 9rem;
      border-radius: 0.5rem;
      margin: 0 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font: {
        size: 0.9rem;
        family: $Roboto;
        weight: 500;
      }
    }
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;

    .main-title-wrapper {
      width: 100%;
      margin-top: 0.8rem;
      display: flex;
      align-items: center;
      justify-content: center;

      .main-title {
        font: {
          family: $Roboto;
          size: 1.33rem;
        }
        color: #444;
        background: none;
        border: none;
        width: 90%;
        text-align: center;
        resize: none;
      }

      &::placeholder {
        text-transform: capitalize;
      }
    }

    .small-title {
      font: {
        family: $Roboto;
        size: 1.15rem;
        weight: 500;
      }
      text-transform: capitalize;
      color: #555;
    }
  }
}
