$Roboto: "Roboto", sans-serif;

.message-wrapper {
  position: fixed;
  bottom: 5%;
  width: 28%;
  padding: 1rem;
  padding-left: 2rem;
  color: #e6f2ff;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font: {
    family: $Roboto;
    size: 0.95rem;
  }

  span {
    width: 85%;
  }

  .icon-wrapper {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background: #e6f2ff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .loading {
      margin-top: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      font: {
        size: 1.8rem;
      }
    }
  }
}
