$Roboto: 'Roboto', sans-serif;
$MerriWeather: 'MerriWeather', sans-serif;

.selected {
  background: #5661b6;
  box-shadow: 0 10px 14px rgba(0, 0, 0, 0.15);
  color: #fff;
  padding: 1rem 2rem;
}

.not-selected {
  border: 1px solid #5661b6;
  color: #4456da;
  padding: 0.6rem 1.5rem;
}

.as-input {
  cursor: text !important;
  border: none !important;
  border-bottom: 1px solid #a5a5ad !important;
  padding: 0.5rem 2rem !important;
}

.multichoice {
  border-radius: 0.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  margin-bottom: 1.7rem;
  margin-top: 0.9rem;

  &:last-child {
    margin-bottom: 0;
  }

  .choice-input {
    width: 100%;
    background: transparent;
    text-align: center;
    border: none;
    font: {
      size: inherit;
      family: $Roboto;
    }
  }

  .icon {
    background: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon-circle {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #5661b6;
    }
  }

  .dropdown-title {
    text-transform: capitalize;
    // text-align: center;
    font: {
      family: $Roboto;
      weight: 400;
      size: 1rem;
    }
  }
}
