$Roboto: "Roboto", sans-serif;
$Nunito: "Nunito", sans-serif;

.view-result {
  padding: 2rem;
  position: relative;

  .footer-handler {
    position: fixed;
    bottom: 1rem;
    width: 80%;
    background: #fff;
    padding: 0.5rem 1rem;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
      text-transform: capitalize;
      font: {
        family: $Roboto;
        size: 0.94rem;
        weight: 500;
      }
    }

    .icon-list {
      margin-left: 1rem;
      display: flex;

      .icon {
        color: #686f7a;
        margin-right: 1rem;
        cursor: pointer;
        font: {
          size: 1.7rem;
        }
        transition: 0.2s color ease;

        &:hover {
          color: #5661b6;
        }

        &:first-child {
          color: #5661b6;
        }
      }
    }

    .format {
      display: flex;
      align-items: center;
    }

    .device {
      display: flex;
      align-items: center;
    }
  }

  .content {
    display: grid;
    grid-template-columns: 75% auto;

    .right {
      background: #5661b6;
    }
    .left {
      overflow: auto;
      .logo {
        width: 175px;
        height: 175px;
        background: url("https://surveymonkey-assets.s3.amazonaws.com/survey/288658619/e60c9c3a-67e0-4aa4-8c4e-c58b3f6330af.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }

      .header {
        padding: 0 1.5rem;

        .description {
          display: inline-block;
          font: {
            family: $Nunito;
            size: 1.1rem;
          }
        }

        .title {
          margin-bottom: 0.5rem;
          font: {
            family: $Roboto;
            size: 1.5rem;
          }
        }
      }
    }
  }
}
