.multi-choice-v2 {
  display: flex;
  align-items: center;
  margin: 1rem 0;

  .choice {
    width: 21px;
    height: 18px;
    border-radius: 50%;
    background: #c2cfdf;
  }

  .action {
    width: 10%;
    display: flex;
    justify-content: space-around;

    .btn {
      background: #c2cfdf;
      border: none;
      cursor: pointer;
      border-radius: 50%;
      color: #fff;
      width: 28px;
      height: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
      font: {
        size: 1rem;
      }
      transition: 0.2s background ease-in;
    }

    .btn-add {
      &:hover {
        background: #5661b6;
      }
    }

    .btn-remove {
      &:hover:enabled {
        background: #ea4c89;
      }
    }
  }
}
