$Roboto: "Roboto", sans-serif;

.single-textbox {
  .placeholder {
    margin-top: 1rem;
    width: 100%;
    background: rgba(216, 218, 240, 0.5);
    margin-bottom: 2rem;
    border: none;
    padding: 0.5rem;
    resize: none;
    font: {
      family: $Roboto;
    }
  }
}
