$Roboto: 'Roboto', sans-serif;

.input-form-wrapper {
  border: 2px solid #5661b6;
  width: 100%;
  border-radius: 8px;
  padding: 0.7rem 0.8rem;
  position: relative;

  .icon {
    position: absolute;
    right: 2%;
    bottom: -42%;
    cursor: pointer;
    background: #5661b6;
    width: 30px;
    height: 30px;
    color: #fff;
    display: flex;
    font: {
      size: 1.4rem;
    }
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  input {
    text-transform: capitalize;
    background: transparent;
    color: #000;
    width: 100%;
    border: none;
    font: {
      size: 0.95rem;
      family: $Roboto;
    }
  }
}
