$Nunito: "Nunito", sans-serif;

.login {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://images.pexels.com/photos/544112/pexels-photo-544112.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;

  .login-wrapper {
    background: #00544f;
    border-radius: 5px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    width: 25%;

    .form {
      padding: {
        top: 2rem;
        left: 2rem;
        right: 2rem;
        bottom: 1rem;
      }
      width: 100%;
    }

    .footer {
      border-top: 1px solid #2a837e;
      padding: 1rem 0;
      width: 100%;

      p {
        font : {
          family: $Nunito;
        }
        color: #ddd;
        text-align: center;

        span {
          text-decoration: underline;
        }
      }
    }

    .icon {
      color: #fff;
      font: {
        size: 3.5rem;
      }
    }
  }
}
