$Nunito: "Nunito", sans-serif;

@mixin input {
  font: {
    family: $Nunito;
    size: 1rem;
  }
  padding-bottom: 1rem;
  color: #fff;
  width: 100%;
}

.textbox-input {
  border-bottom: 1px solid #7682db;
  width: 100%;
  margin-bottom: 1rem;

  .input-wrapper {
    height: 2.3rem;
    .placeholder {
      @include input;
      cursor: pointer;
      display: flex;
      justify-content: center;
    }

    input {
      @include input;
      background: none;
      border: none;
    }
  }
}
