$Nunito: "Nunito", sans-serif;

.submit-me {
  display: flex;
  justify-content: center;
  padding: 1rem 0;

  button {
    font: {
      family: $Nunito;
      weight: bold;
      size: 1rem;
    }
    color: #5661b6;
    padding: 0.4rem 4rem;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
    background: #fff;
    transition: background 0.3s ease-in-out;

    &:disabled {
      cursor: no-drop;
      background: #ddd;
    }
  }
}
