$Roboto: 'Roboto', sans-serif;

.btn-right {
  display: flex;
  padding: 0.7rem 1.2rem;
  align-items: center;
  background: #5661b6;
  color: #fff;
  justify-content: space-between;
  border-radius: 0.3rem;
  cursor: pointer;
  border: none;

  span {
    text-transform: uppercase;
    font: {
      family: $Roboto;
      size: 0.86rem;
    }
  }
}

.btn-another {
  display: flex;
  padding: 0.7rem 1.2rem;
  background: #a6a8ac;
  color: #444;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;

  span {
    text-transform: capitalize;
    font: {
      family: $Roboto;
      size: 1rem;
    }
  }
}

.btn-previous-active {
  color: #222 !important;
}

.btn-left {
  transition: color 0.6s ease-in;
  display: flex;
  border: none;
  background: none;
  padding: {
    left: 0.5rem;
    top: 0.5rem;
    bottom: 0.5rem;
    right: 1rem;
  }
  align-items: center;
  color: #a6a8ac;
  cursor: pointer;

  .icon-btn {
    font: {
      size: 1.2rem;
    }
  }

  span {
    text-transform: capitalize;
    margin-left: 1.5rem;
    font: {
      family: $Roboto;
      size: 1rem;
    }
  }
}
