$MerriWeather: 'MerriWeather', sans-serif;

.slider {
  width: 100%;
  margin-top: 1rem;

  .sliders-wrapper {
    display: flex;
    justify-content: center;
    height: 10rem;
    position: relative;
    width: 42rem;
    overflow: hidden;

    .sliders {
      top: 0;
      left: 0;
      right: 0;
      position: absolute;
      display: flex;
      grid-gap: 1rem;
      margin-top: 0.4rem;
      transition: left 0.4s ease-in;
    }
  }

  .title-sliders {
    text-transform: capitalize;
    margin: {
      left: 0.4rem;
      bottom: 0.5rem;
    }
    color: #555;
    font: {
      family: $MerriWeather;
      size: 1rem;
    }
  }
}
